# WEB Scraping - Stock prices and Financials

In [12]:
import pandas as pd
import numpy as np
import datetime 
!pip install pandas_datareader
from pandas_datareader import data as pdr

Requirement already satisfied: pandas_datareader in c:\users\sumid\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: pandas>=0.23 in c:\users\sumid\anaconda3\lib\site-packages (from pandas_datareader) (1.0.1)
Requirement already satisfied: lxml in c:\users\sumid\anaconda3\lib\site-packages (from pandas_datareader) (4.6.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\sumid\anaconda3\lib\site-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\sumid\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\sumid\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\sumid\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sumid\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\sumid\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\sumid\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sumid\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2019.11.28)
Requirement already satisfied: six>=1.5 in c:\users\sumid\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.14.0)

In [13]:
!pip install yfinance --upgrade --no-cache-dir
import yfinance as yf

Requirement already up-to-date: yfinance in c:\users\sumid\anaconda3\lib\site-packages (0.1.55)
Requirement already satisfied, skipping upgrade: lxml>=4.5.1 in c:\users\sumid\anaconda3\lib\site-packages (from yfinance) (4.6.2)
Requirement already satisfied, skipping upgrade: requests>=2.20 in c:\users\sumid\anaconda3\lib\site-packages (from yfinance) (2.22.0)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in c:\users\sumid\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in c:\users\sumid\anaconda3\lib\site-packages (from yfinance) (1.18.1)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in c:\users\sumid\anaconda3\lib\site-packages (from yfinance) (1.0.1)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sumid\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\sumid\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\sumid\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\sumid\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\sumid\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\sumid\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\sumid\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)

In [14]:
# scrape a wikipedia page and return a list of dataframes
web_page=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
#read_csv, read_excel, read_json

In [15]:
type(web_page)

list

In [16]:
len(web_page)

2

In [17]:
type(web_page[0])              #data type of the first element

pandas.core.frame.DataFrame

In [18]:
type(web_page[1])           #data type of the second element

pandas.core.frame.DataFrame

In [19]:
count = 0
for item in web_page:
    count = count+1
    print(type(item))
    print(item)
print(count)

<class 'pandas.core.frame.DataFrame'>
    Symbol             Security SEC filings             GICS Sector  \
0      MMM           3M Company     reports             Industrials
1      ABT  Abbott Laboratories     reports             Health Care
2     ABBV          AbbVie Inc.     reports             Health Care
3     ABMD              Abiomed     reports             Health Care
4      ACN            Accenture     reports  Information Technology
..     ...                  ...         ...                     ...
500    YUM      Yum! Brands Inc     reports  Consumer Discretionary
501   ZBRA   Zebra Technologies     reports  Information Technology
502    ZBH        Zimmer Biomet     reports             Health Care
503   ZION        Zions Bancorp     reports              Financials
504    ZTS               Zoetis     reports             Health Care

                      GICS Sub-Industry     Headquarters Location  \
0              Industrial Conglomerates       St. Paul, Minnesota
1                 Health Care Equipment   North Chicago, Illinois
2                       Pharmaceuticals   North Chicago, Illinois
3                 Health Care Equipment    Danvers, Massachusetts
4        IT Consulting & Other Services           Dublin, Ireland
..                                  ...                       ...
500                         Restaurants      Louisville, Kentucky
501  Electronic Equipment & Instruments    Lincolnshire, Illinois
502               Health Care Equipment           Warsaw, Indiana
503                      Regional Banks      Salt Lake City, Utah
504                     Pharmaceuticals  Florham Park, New Jersey

    Date first added      CIK      Founded
0         1976-08-09    66740         1902
1         1964-03-31     1800         1888
2         2012-12-31  1551152  2013 (1888)
3         2018-05-31   815094         1981
4         2011-07-06  1467373         1989
..               ...      ...          ...
500       1997-10-06  1041061         1997
501       2019-12-23   877212         1969
502       2001-08-07  1136869         1927
503       2001-06-22   109380         1873
504       2013-06-21  1555280         1952

[505 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
                  Date  Added                           Removed  \
                  Date Ticker                  Security  Ticker
0    February 12, 2021   MPWR  Monolithic Power Systems     FTI
1     January 21, 2021   TRMB              Trimble Inc.     CXO
2      January 7, 2021   ENPH            Enphase Energy     TIF
3    December 21, 2020   TSLA               Tesla, Inc.     AIV
4     October 12, 2020    NaN                       NaN     NBL
..                 ...    ...                       ...     ...
260   December 5, 2000    SBL       Symbol Technologies      OI
261   December 5, 2000    AYE          Allegheny Energy     GRA
262   December 5, 2000    ABK           Ambac Financial     CCK
263      July 27, 2000   JDSU              JDS Uniphase     RAD
264   December 7, 1999   YHOO                    Yahoo!     LDW

                                        \
                              Security
0                           TechnipFMC
1                     Concho Resources
2                        Tiffany & Co.
3    Apartment Investment & Management
4                         Noble Energy
..                                 ...
260                     Owens-Illinois
261                         W.R. Grace
262                     Crown Holdings
263                            RiteAid
264                            Laidlaw

                                                Reason
                                                Reason
0    TechnipFMC was removed from the S&P 500 in ant...
1    S&P 500/100 constituent ConocoPhillips acquire...
2    LVMH Moet Hennessy-Louis Vuitton SE acquired T...
3    Apartment Investment and Management (Aimco) sp...
4                   Chevron acquired Noble Energy.[10]
..                                                 ...
260                                Market Cap changes.
261                                Market Cap changes.
262                                Market Cap changes.
263                            Market Cap change.[209]
264                            Market Cap change.[210]

[265 rows x 6 columns]
2

In [20]:
web_page[0]                #exploring the first table

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,1952

In [21]:
web_page[1]   #exploring the 2nd table

                  Date  Added                           Removed  \
                  Date Ticker                  Security  Ticker
0    February 12, 2021   MPWR  Monolithic Power Systems     FTI
1     January 21, 2021   TRMB              Trimble Inc.     CXO
2      January 7, 2021   ENPH            Enphase Energy     TIF
3    December 21, 2020   TSLA               Tesla, Inc.     AIV
4     October 12, 2020    NaN                       NaN     NBL
..                 ...    ...                       ...     ...
260   December 5, 2000    SBL       Symbol Technologies      OI
261   December 5, 2000    AYE          Allegheny Energy     GRA
262   December 5, 2000    ABK           Ambac Financial     CCK
263      July 27, 2000   JDSU              JDS Uniphase     RAD
264   December 7, 1999   YHOO                    Yahoo!     LDW

                                        \
                              Security
0                           TechnipFMC
1                     Concho Resources
2                        Tiffany & Co.
3    Apartment Investment & Management
4                         Noble Energy
..                                 ...
260                     Owens-Illinois
261                         W.R. Grace
262                     Crown Holdings
263                            RiteAid
264                            Laidlaw

                                                Reason
                                                Reason
0    TechnipFMC was removed from the S&P 500 in ant...
1    S&P 500/100 constituent ConocoPhillips acquire...
2    LVMH Moet Hennessy-Louis Vuitton SE acquired T...
3    Apartment Investment and Management (Aimco) sp...
4                   Chevron acquired Noble Energy.[10]
..                                                 ...
260                                Market Cap changes.
261                                Market Cap changes.
262                                Market Cap changes.
263                            Market Cap change.[209]
264                            Market Cap change.[210]

[265 rows x 6 columns]

In [22]:
web_page[0].shape             #exploring how many rows and columns in the dataframe
#web_page[0].shape[0]

(505, 9)

In [23]:
web_page[0].shape[0]
#type(web_page[0].shape[0])

505

In [24]:
comp_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
comp_df.head()        #exploring the first 5 rows of data

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [25]:
comp_df.head(10)     #exploring the 1st 10 rows of data

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
5,ATVI,Activision Blizzard,reports,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,718877,2008
6,ADBE,Adobe Inc.,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982
7,AMD,Advanced Micro Devices,reports,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488,1969
8,AAP,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
9,AES,AES Corp,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981

In [26]:
comp_df.tail(10)               #exploring the last 5 rows

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
495,WYNN,Wynn Resorts Ltd,reports,Consumer Discretionary,Casinos & Gaming,"Paradise, Nevada",2008-11-14,1174922,2002
496,XEL,Xcel Energy Inc,reports,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,72903,1909
497,XRX,Xerox,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Norwalk, Connecticut",NaN,1770450,2017 (1906)
498,XLNX,Xilinx,reports,Information Technology,Semiconductors,"San Jose, California",1999-11-08,743988,1984
499,XYL,Xylem Inc.,reports,Industrials,Industrial Machinery,"White Plains, New York",2011-11-01,1524472,2011
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,1952

In [27]:
comp_df.shape   #exploring the no. of rows and columns of the dataframe

(505, 9)

In [28]:
comp_df.columns  #exploring the columns

Index(['Symbol', 'Security', 'SEC filings', 'GICS Sector', 'GICS Sub-Industry',
       'Headquarters Location', 'Date first added', 'CIK', 'Founded'],
      dtype='object')

In [29]:
comp_df.describe()     #describe works for numerical column that means exploring numerical columns for 
                       #checking authenticity of data

                CIK
count  5.050000e+02
mean   7.731188e+05
std    5.502642e+05
min    1.800000e+03
25%    9.375100e+04
50%    8.753200e+05
75%    1.132979e+06
max    1.792044e+06

In [30]:
comp_df.describe(include='all')   #exploring the overall dataframe including numerical columns

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
count,505,505,505,505,505,505,453,5.050000e+02,505
unique,505,505,1,11,124,254,346,NaN,195
top,HOLX,Eversource Energy,reports,Information Technology,Health Care Equipment,"New York, New York",1957-03-04,NaN,1985
freq,1,1,505,76,20,43,37,NaN,13
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.731188e+05,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.502642e+05,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.800000e+03,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.375100e+04,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.753200e+05,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.132979e+06,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.792044e+06,NaN

In [31]:
comp_df.info()      #exploring all the non-null values and data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 505 non-null    object
 1   Security               505 non-null    object
 2   SEC filings            505 non-null    object
 3   GICS Sector            505 non-null    object
 4   GICS Sub-Industry      505 non-null    object
 5   Headquarters Location  505 non-null    object
 6   Date first added       453 non-null    object
 7   CIK                    505 non-null    int64
 8   Founded                505 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.6+ KB

In [32]:
comp_df.dtypes

Symbol                   object
Security                 object
SEC filings              object
GICS Sector              object
GICS Sub-Industry        object
Headquarters Location    object
Date first added         object
CIK                       int64
Founded                  object
dtype: object

In [33]:
#inplace parameter
comp_df.shape

(505, 9)

In [34]:
comp_df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [35]:
comp_df.iloc[1,2]    #exploring the row 1 column 2 value

'reports'

In [36]:
comp_df.iloc[1:4, 3:5]

   GICS Sector      GICS Sub-Industry
1  Health Care  Health Care Equipment
2  Health Care        Pharmaceuticals
3  Health Care  Health Care Equipment

In [37]:
comp_df.drop(['Date first added', 'Founded'], axis=1)   #deleting two columns 
comp_df.head()                                          #axis=0 means rows, axis =1 means columns

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [38]:
temp = comp_df.drop(['Date first added', 'Founded'], axis=1)  #In the above table the two columns we wanted to delete has not deleted 
temp.head()                                                  #but in this command using a different name we got the result.

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1800
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",1551152
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",815094
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",1467373

In [39]:
temp = comp_df.drop(['Date first added', 'Founded'], axis=1)
temp.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1800
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",1551152
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",815094
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",1467373

In [40]:
comp_df.drop([ 'Date first added', 'Founded'], axis=1, inplace=True)  #if we want to make changes in the same dataframe,
comp_df.head()                                                        #we have to add inplace = true

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1800
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",1551152
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",815094
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",1467373

In [41]:
comp_df['GICS Sector'] #looking into the columnn as a list

0                 Industrials
1                 Health Care
2                 Health Care
3                 Health Care
4      Information Technology
                ...
500    Consumer Discretionary
501    Information Technology
502               Health Care
503                Financials
504               Health Care
Name: GICS Sector, Length: 505, dtype: object

In [42]:
list(comp_df['GICS Sector'])

['Industrials',
 'Health Care',
 'Health Care',
 'Health Care',
 'Information Technology',
 'Communication Services',
 'Information Technology',
 'Information Technology',
 'Consumer Discretionary',
 'Utilities',
 'Financials',
 'Health Care',
 'Materials',
 'Information Technology',
 'Industrials',
 'Materials',
 'Real Estate',
 'Health Care',
 'Health Care',
 'Industrials',
 'Utilities',
 'Financials',
 'Communication Services',
 'Communication Services',
 'Consumer Staples',
 'Consumer Discretionary',
 'Materials',
 'Utilities',
 'Industrials',
 'Utilities',
 'Financials',
 'Financials',
 'Real Estate',
 'Utilities',
 'Financials',
 'Health Care',
 'Industrials',
 'Health Care',
 'Information Technology',
 'Information Technology',
 'Information Technology',
 'Health Care',
 'Financials',
 'Industrials',
 'Energy',
 'Information Technology',
 'Information Technology',
 'Consumer Discretionary',
 'Consumer Staples',
 'Information Technology',
 'Financials',
 'Financials',
 'Communication Services',
 'Utilities',
 'Information Technology',
 'Information Technology',
 'Consumer Discretionary',
 'Real Estate',
 'Materials',
 'Energy',
 'Materials',
 'Financials',
 'Financials',
 'Health Care',
 'Health Care',
 'Financials',
 'Consumer Discretionary',
 'Health Care',
 'Health Care',
 'Financials',
 'Industrials',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Real Estate',
 'Health Care',
 'Health Care',
 'Information Technology',
 'Information Technology',
 'Consumer Staples',
 'Industrials',
 'Energy',
 'Information Technology',
 'Consumer Staples',
 'Financials',
 'Health Care',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Industrials',
 'Health Care',
 'Industrials',
 'Financials',
 'Real Estate',
 'Information Technology',
 'Materials',
 'Health Care',
 'Utilities',
 'Health Care',
 'Materials',
 'Financials',
 'Communication Services',
 'Energy',
 'Consumer Discretionary',
 'Financials',
 'Consumer Staples',
 'Health Care',
 'Financials',
 'Industrials',
 'Information Technology',
 'Financials',
 'Financials',
 'Information Technology',
 'Consumer Staples',
 'Financials',
 'Utilities',
 'Consumer Staples',
 'Information Technology',
 'Consumer Staples',
 'Communication Services',
 'Financials',
 'Consumer Staples',
 'Energy',
 'Utilities',
 'Consumer Staples',
 'Health Care',
 'Industrials',
 'Information Technology',
 'Materials',
 'Consumer Staples',
 'Real Estate',
 'Industrials',
 'Industrials',
 'Health Care',
 'Consumer Discretionary',
 'Health Care',
 'Consumer Discretionary',
 'Health Care',
 'Industrials',
 'Industrials',
 'Health Care',
 'Energy',
 'Health Care',
 'Energy',
 'Real Estate',
 'Financials',
 'Communication Services',
 'Communication Services',
 'Communication Services',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Utilities',
 'Consumer Discretionary',
 'Industrials',
 'Materials',
 'Utilities',
 'Utilities',
 'Real Estate',
 'Materials',
 'Information Technology',
 'Materials',
 'Industrials',
 'Consumer Discretionary',
 'Materials',
 'Utilities',
 'Health Care',
 'Communication Services',
 'Industrials',
 'Information Technology',
 'Utilities',
 'Energy',
 'Industrials',
 'Real Estate',
 'Real Estate',
 'Real Estate',
 'Consumer Staples',
 'Consumer Discretionary',
 'Utilities',
 'Utilities',
 'Financials',
 'Utilities',
 'Consumer Discretionary',
 'Industrials',
 'Real Estate',
 'Energy',
 'Information Technology',
 'Communication Services',
 'Industrials',
 'Real Estate',
 'Industrials',
 'Information Technology',
 'Financials',
 'Utilities',
 'Financials',
 'Information Technology',
 'Information Technology',
 'Information Technology',
 'Industrials',
 'Materials',
 'Consumer Discretionary',
 'Information Technology',
 'Industrials',
 'Industrials',
 'Communication Services',
 'Communication Services',
 'Financials',
 'Materials',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Information Technology',
 'Industrials',
 'Industrials',
 'Consumer Staples',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Health Care',
 'Financials',
 'Information Technology',
 'Financials',
 'Industrials',
 'Energy',
 'Consumer Discretionary',
 'Financials',
 'Consumer Discretionary',
 'Health Care',
 'Real Estate',
 'Health Care',
 'Consumer Staples',
 'Energy',
 'Information Technology',
 'Consumer Discretionary',
 'Energy',
 'Health Care',
 'Consumer Discretionary',
 'Industrials',
 'Consumer Staples',
 'Real Estate',
 'Industrials',
 'Information Technology',
 'Health Care',
 'Financials',
 'Industrials',
 'Industrials',
 'Health Care',
 'Industrials',
 'Industrials',
 'Health Care',
 'Health Care',
 'Industrials',
 'Information Technology',
 'Financials',
 'Information Technology',
 'Materials',
 'Communication Services',
 'Materials',
 'Information Technology',
 'Health Care',
 'Financials',
 'Information Technology',
 'Health Care',
 'Real Estate',
 'Information Technology',
 'Industrials',
 'Industrials',
 'Consumer Staples',
 'Health Care',
 'Industrials',
 'Financials',
 'Information Technology',
 'Industrials',
 'Consumer Staples',
 'Financials',
 'Information Technology',
 'Consumer Staples',
 'Real Estate',
 'Energy',
 'Information Technology',
 'Consumer Staples',
 'Consumer Staples',
 'Consumer Discretionary',
 'Industrials',
 'Health Care',
 'Information Technology',
 'Consumer Staples',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Information Technology',
 'Consumer Discretionary',
 'Health Care',
 'Financials',
 'Materials',
 'Communication Services',
 'Consumer Discretionary',
 'Industrials',
 'Financials',
 'Consumer Discretionary',
 'Communication Services',
 'Materials',
 'Financials',
 'Energy',
 'Energy',
 'Financials',
 'Consumer Discretionary',
 'Financials',
 'Materials',
 'Industrials',
 'Information Technology',
 'Consumer Staples',
 'Information Technology',
 'Consumer Discretionary',
 'Health Care',
 'Health Care',
 'Health Care',
 'Financials',
 'Health Care',
 'Consumer Discretionary',
 'Information Technology',
 'Information Technology',
 'Information Technology',
 'Real Estate',
 'Consumer Discretionary',
 'Consumer Staples',
 'Consumer Staples',
 'Information Technology',
 'Consumer Staples',
 'Financials',
 'Financials',
 'Materials',
 'Information Technology',
 'Financials',
 'Financials',
 'Information Technology',
 'Communication Services',
 'Consumer Discretionary',
 'Materials',
 'Communication Services',
 'Communication Services',
 'Utilities',
 'Industrials',
 'Consumer Discretionary',
 'Utilities',
 'Industrials',
 'Financials',
 'Industrials',
 'Information Technology',
 'Consumer Discretionary',
 'Energy',
 'Utilities',
 'Materials',
 'Information Technology',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Energy',
 'Industrials',
 'Communication Services',
 'Energy',
 'Information Technology',
 'Industrials',
 'Industrials',
 'Materials',
 'Industrials',
 'Information Technology',
 'Information Technology',
 'Information Technology',
 'Industrials',
 'Financials',
 'Consumer Staples',
 'Health Care',
 'Health Care',
 'Health Care',
 'Consumer Staples',
 'Energy',
 'Utilities',
 'Energy',
 'Financials',
 'Consumer Discretionary',
 'Materials',
 'Utilities',
 'Financials',
 'Consumer Staples',
 'Financials',
 'Real Estate',
 'Financials',
 'Utilities',
 'Real Estate',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Information Technology',
 'Industrials',
 'Information Technology',
 'Health Care',
 'Consumer Discretionary',
 'Financials',
 'Industrials',
 'Real Estate',
 'Real Estate',
 'Health Care',
 'Financials',
 'Industrials',
 'Health Care',
 'Industrials',
 'Industrials',
 'Industrials',
 'Industrials',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Financials',
 'Information Technology',
 'Real Estate',
 'Energy',
 'Information Technology',
 'Materials',
 'Utilities',
 'Information Technology',
 'Materials',
 'Real Estate',
 'Information Technology',
 'Real Estate',
 'Industrials',
 'Utilities',
 'Industrials',
 'Industrials',
 'Consumer Discretionary',
 'Financials',
 'Health Care',
 'Health Care',
 'Financials',
 'Financials',
 'Information Technology',
 'Consumer Staples',
 'Communication Services',
 'Financials',
 'Communication Services',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Information Technology',
 'Industrials',
 'Health Care',
 'Information Technology',
 'Consumer Discretionary',
 'Information Technology',
 'Industrials',
 'Health Care',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Industrials',
 'Industrials',
 'Financials',
 'Information Technology',
 'Financials',
 'Communication Services',
 'Information Technology',
 'Consumer Staples',
 'Real Estate',
 'Consumer Discretionary',
 'Financials',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Industrials',
 'Industrials',
 'Health Care',
 'Industrials',
 'Industrials',
 'Health Care',
 'Financials',
 'Energy',
 'Health Care',
 'Real Estate',
 'Information Technology',
 'Industrials',
 'Communication Services',
 'Health Care',
 'Consumer Discretionary',
 'Communication Services',
 'Health Care',
 'Information Technology',
 'Information Technology',
 'Real Estate',
 'Materials',
 'Financials',
 'Industrials',
 'Consumer Staples',
 'Consumer Staples',
 'Communication Services',
 'Industrials',
 'Health Care',
 'Utilities',
 'Financials',
 'Real Estate',
 'Health Care',
 'Information Technology',
 'Information Technology',
 'Materials',
 'Real Estate',
 'Consumer Discretionary',
 'Energy',
 'Financials',
 'Consumer Discretionary',
 'Utilities',
 'Information Technology',
 'Information Technology',
 'Industrials',
 'Consumer Discretionary',
 'Information Technology',
 'Health Care',
 'Financials',
 'Health Care']

In [43]:
for i in comp_df.columns:
    print (i)
    print (comp_df[i].unique())    #Looping through all the columns

Symbol
['MMM' 'ABT' 'ABBV' 'ABMD' 'ACN' 'ATVI' 'ADBE' 'AMD' 'AAP' 'AES' 'AFL' 'A'
 'APD' 'AKAM' 'ALK' 'ALB' 'ARE' 'ALXN' 'ALGN' 'ALLE' 'LNT' 'ALL' 'GOOGL'
 'GOOG' 'MO' 'AMZN' 'AMCR' 'AEE' 'AAL' 'AEP' 'AXP' 'AIG' 'AMT' 'AWK' 'AMP'
 'ABC' 'AME' 'AMGN' 'APH' 'ADI' 'ANSS' 'ANTM' 'AON' 'AOS' 'APA' 'AAPL'
 'AMAT' 'APTV' 'ADM' 'ANET' 'AJG' 'AIZ' 'T' 'ATO' 'ADSK' 'ADP' 'AZO' 'AVB'
 'AVY' 'BKR' 'BLL' 'BAC' 'BK' 'BAX' 'BDX' 'BRK.B' 'BBY' 'BIO' 'BIIB' 'BLK'
 'BA' 'BKNG' 'BWA' 'BXP' 'BSX' 'BMY' 'AVGO' 'BR' 'BF.B' 'CHRW' 'COG'
 'CDNS' 'CPB' 'COF' 'CAH' 'KMX' 'CCL' 'CARR' 'CTLT' 'CAT' 'CBOE' 'CBRE'
 'CDW' 'CE' 'CNC' 'CNP' 'CERN' 'CF' 'SCHW' 'CHTR' 'CVX' 'CMG' 'CB' 'CHD'
 'CI' 'CINF' 'CTAS' 'CSCO' 'C' 'CFG' 'CTXS' 'CLX' 'CME' 'CMS' 'KO' 'CTSH'
 'CL' 'CMCSA' 'CMA' 'CAG' 'COP' 'ED' 'STZ' 'COO' 'CPRT' 'GLW' 'CTVA'
 'COST' 'CCI' 'CSX' 'CMI' 'CVS' 'DHI' 'DHR' 'DRI' 'DVA' 'DE' 'DAL' 'XRAY'
 'DVN' 'DXCM' 'FANG' 'DLR' 'DFS' 'DISCA' 'DISCK' 'DISH' 'DG' 'DLTR' 'D'
 'DPZ' 'DOV' 'DOW' 'DTE' 'DUK' 'DRE' 'DD' 'DXC' 'EMN' 'ETN' 'EBAY' 'ECL'
 'EIX' 'EW' 'EA' 'EMR' 'ENPH' 'ETR' 'EOG' 'EFX' 'EQIX' 'EQR' 'ESS' 'EL'
 'ETSY' 'EVRG' 'ES' 'RE' 'EXC' 'EXPE' 'EXPD' 'EXR' 'XOM' 'FFIV' 'FB'
 'FAST' 'FRT' 'FDX' 'FIS' 'FITB' 'FE' 'FRC' 'FISV' 'FLT' 'FLIR' 'FLS'
 'FMC' 'F' 'FTNT' 'FTV' 'FBHS' 'FOXA' 'FOX' 'BEN' 'FCX' 'GPS' 'GRMN' 'IT'
 'GD' 'GE' 'GIS' 'GM' 'GPC' 'GILD' 'GL' 'GPN' 'GS' 'GWW' 'HAL' 'HBI' 'HIG'
 'HAS' 'HCA' 'PEAK' 'HSIC' 'HSY' 'HES' 'HPE' 'HLT' 'HFC' 'HOLX' 'HD' 'HON'
 'HRL' 'HST' 'HWM' 'HPQ' 'HUM' 'HBAN' 'HII' 'IEX' 'IDXX' 'INFO' 'ITW'
 'ILMN' 'INCY' 'IR' 'INTC' 'ICE' 'IBM' 'IP' 'IPG' 'IFF' 'INTU' 'ISRG'
 'IVZ' 'IPGP' 'IQV' 'IRM' 'JKHY' 'J' 'JBHT' 'SJM' 'JNJ' 'JCI' 'JPM' 'JNPR'
 'KSU' 'K' 'KEY' 'KEYS' 'KMB' 'KIM' 'KMI' 'KLAC' 'KHC' 'KR' 'LB' 'LHX'
 'LH' 'LRCX' 'LW' 'LVS' 'LEG' 'LDOS' 'LEN' 'LLY' 'LNC' 'LIN' 'LYV' 'LKQ'
 'LMT' 'L' 'LOW' 'LUMN' 'LYB' 'MTB' 'MRO' 'MPC' 'MKTX' 'MAR' 'MMC' 'MLM'
 'MAS' 'MA' 'MKC' 'MXIM' 'MCD' 'MCK' 'MDT' 'MRK' 'MET' 'MTD' 'MGM' 'MCHP'
 'MU' 'MSFT' 'MAA' 'MHK' 'TAP' 'MDLZ' 'MPWR' 'MNST' 'MCO' 'MS' 'MOS' 'MSI'
 'MSCI' 'NDAQ' 'NTAP' 'NFLX' 'NWL' 'NEM' 'NWSA' 'NWS' 'NEE' 'NLSN' 'NKE'
 'NI' 'NSC' 'NTRS' 'NOC' 'NLOK' 'NCLH' 'NOV' 'NRG' 'NUE' 'NVDA' 'NVR'
 'ORLY' 'OXY' 'ODFL' 'OMC' 'OKE' 'ORCL' 'OTIS' 'PCAR' 'PKG' 'PH' 'PAYX'
 'PAYC' 'PYPL' 'PNR' 'PBCT' 'PEP' 'PKI' 'PRGO' 'PFE' 'PM' 'PSX' 'PNW'
 'PXD' 'PNC' 'POOL' 'PPG' 'PPL' 'PFG' 'PG' 'PGR' 'PLD' 'PRU' 'PEG' 'PSA'
 'PHM' 'PVH' 'QRVO' 'PWR' 'QCOM' 'DGX' 'RL' 'RJF' 'RTX' 'O' 'REG' 'REGN'
 'RF' 'RSG' 'RMD' 'RHI' 'ROK' 'ROL' 'ROP' 'ROST' 'RCL' 'SPGI' 'CRM' 'SBAC'
 'SLB' 'STX' 'SEE' 'SRE' 'NOW' 'SHW' 'SPG' 'SWKS' 'SLG' 'SNA' 'SO' 'LUV'
 'SWK' 'SBUX' 'STT' 'STE' 'SYK' 'SIVB' 'SYF' 'SNPS' 'SYY' 'TMUS' 'TROW'
 'TTWO' 'TPR' 'TGT' 'TEL' 'TDY' 'TFX' 'TER' 'TSLA' 'TXN' 'TXT' 'TMO' 'TJX'
 'TSCO' 'TT' 'TDG' 'TRV' 'TRMB' 'TFC' 'TWTR' 'TYL' 'TSN' 'UDR' 'ULTA'
 'USB' 'UAA' 'UA' 'UNP' 'UAL' 'UNH' 'UPS' 'URI' 'UHS' 'UNM' 'VLO' 'VAR'
 'VTR' 'VRSN' 'VRSK' 'VZ' 'VRTX' 'VFC' 'VIAC' 'VTRS' 'V' 'VNT' 'VNO' 'VMC'
 'WRB' 'WAB' 'WMT' 'WBA' 'DIS' 'WM' 'WAT' 'WEC' 'WFC' 'WELL' 'WST' 'WDC'
 'WU' 'WRK' 'WY' 'WHR' 'WMB' 'WLTW' 'WYNN' 'XEL' 'XRX' 'XLNX' 'XYL' 'YUM'
 'ZBRA' 'ZBH' 'ZION' 'ZTS']
Security
['3M Company' 'Abbott Laboratories' 'AbbVie Inc.' 'Abiomed' 'Accenture'
 'Activision Blizzard' 'Adobe Inc.' 'Advanced Micro Devices'
 'Advance Auto Parts' 'AES Corp' 'Aflac' 'Agilent Technologies'
 'Air Products & Chemicals' 'Akamai Technologies' 'Alaska Air Group'
 'Albemarle Corporation' 'Alexandria Real Estate Equities'
 'Alexion Pharmaceuticals' 'Align Technology' 'Allegion' 'Alliant Energy'
 'Allstate Corp' 'Alphabet Inc. (Class A)' 'Alphabet Inc. (Class C)'
 'Altria Group Inc' 'Amazon.com Inc.' 'Amcor' 'Ameren Corp'
 'American Airlines Group' 'American Electric Power' 'American Express'
 'American International Group' 'American Tower Corp.'
 'American Water Works' 'Ameriprise Financial' 'AmerisourceBergen'
 'Ametek' 'Amgen Inc.' 'Amphenol Corp' 'Analog Devices, Inc.'
 'ANSYS, Inc.' 'Anthem' 'Aon plc' 'A.O. Smith Corp' 'Apache Corporation'
 'Apple Inc.' 'Applied Materials Inc.' 'Aptiv PLC'
 'Archer-Daniels-Midland Co' 'Arista Networks' 'Arthur J. Gallagher & Co.'
 'Assurant' 'AT&T Inc.' 'Atmos Energy' 'Autodesk Inc.'
 'Automatic Data Processing' 'AutoZone Inc' 'AvalonBay Communities'
 'Avery Dennison Corp' 'Baker Hughes Co' 'Ball Corp'
 'Bank of America Corp' 'The Bank of New York Mellon'
 'Baxter International Inc.' 'Becton Dickinson' 'Berkshire Hathaway'
 'Best Buy Co. Inc.' 'Bio-Rad Laboratories' 'Biogen Inc.' 'BlackRock'
 'Boeing Company' 'Booking Holdings Inc' 'BorgWarner' 'Boston Properties'
 'Boston Scientific' 'Bristol-Myers Squibb' 'Broadcom Inc.'
 'Broadridge Financial Solutions' 'Brown-Forman Corp.'
 'C. H. Robinson Worldwide' 'Cabot Oil & Gas' 'Cadence Design Systems'
 'Campbell Soup' 'Capital One Financial' 'Cardinal Health Inc.'
 'Carmax Inc' 'Carnival Corp.' 'Carrier Global' 'Catalent'
 'Caterpillar Inc.' 'Cboe Global Markets' 'CBRE Group' 'CDW' 'Celanese'
 'Centene Corporation' 'CenterPoint Energy' 'Cerner'
 'CF Industries Holdings Inc' 'Charles Schwab Corporation'
 'Charter Communications' 'Chevron Corp.' 'Chipotle Mexican Grill'
 'Chubb Limited' 'Church & Dwight' 'Cigna' 'Cincinnati Financial'
 'Cintas Corporation' 'Cisco Systems' 'Citigroup Inc.'
 'Citizens Financial Group' 'Citrix Systems' 'The Clorox Company'
 'CME Group Inc.' 'CMS Energy' 'Coca-Cola Company'
 'Cognizant Technology Solutions' 'Colgate-Palmolive' 'Comcast Corp.'
 'Comerica Inc.' 'Conagra Brands' 'ConocoPhillips' 'Consolidated Edison'
 'Constellation Brands' 'The Cooper Companies' 'Copart Inc' 'Corning Inc.'
 'Corteva' 'Costco Wholesale Corp.' 'Crown Castle' 'CSX Corp.'
 'Cummins Inc.' 'CVS Health' 'D. R. Horton' 'Danaher Corp.'
 'Darden Restaurants' 'DaVita Inc.' 'Deere & Co.' 'Delta Air Lines Inc.'
 'Dentsply Sirona' 'Devon Energy' 'DexCom' 'Diamondback Energy'
 'Digital Realty Trust Inc' 'Discover Financial Services'
 'Discovery, Inc. (Series A)' 'Discovery, Inc. (Series C)' 'Dish Network'
 'Dollar General' 'Dollar Tree' 'Dominion Energy' "Domino's Pizza"
 'Dover Corporation' 'Dow Inc.' 'DTE Energy Co.' 'Duke Energy'
 'Duke Realty Corp' 'DuPont de Nemours Inc' 'DXC Technology'
 'Eastman Chemical' 'Eaton Corporation' 'eBay Inc.' 'Ecolab Inc.'
 "Edison Int'l" 'Edwards Lifesciences' 'Electronic Arts'
 'Emerson Electric Company' 'Enphase Energy' 'Entergy Corp.'
 'EOG Resources' 'Equifax Inc.' 'Equinix' 'Equity Residential'
 'Essex Property Trust, Inc.' 'Estée Lauder Companies' 'Etsy' 'Evergy'
 'Eversource Energy' 'Everest Re Group Ltd.' 'Exelon Corp.'
 'Expedia Group' 'Expeditors' 'Extra Space Storage' 'Exxon Mobil Corp.'
 'F5 Networks' 'Facebook, Inc.' 'Fastenal Co'
 'Federal Realty Investment Trust' 'FedEx Corporation'
 'Fidelity National Information Services' 'Fifth Third Bancorp'
 'FirstEnergy Corp' 'First Republic Bank' 'Fiserv Inc'
 'FleetCor Technologies Inc' 'FLIR Systems' 'Flowserve Corporation'
 'FMC Corporation' 'Ford Motor Company' 'Fortinet' 'Fortive Corp'
 'Fortune Brands Home & Security' 'Fox Corporation (Class A)'
 'Fox Corporation (Class B)' 'Franklin Resources' 'Freeport-McMoRan Inc.'
 'Gap Inc.' 'Garmin Ltd.' 'Gartner Inc' 'General Dynamics'
 'General Electric' 'General Mills' 'General Motors' 'Genuine Parts'
 'Gilead Sciences' 'Globe Life Inc.' 'Global Payments Inc.'
 'Goldman Sachs Group' 'Grainger (W.W.) Inc.' 'Halliburton Co.'
 'Hanesbrands Inc' 'Hartford Financial Svc.Gp.' 'Hasbro Inc.'
 'HCA Healthcare' 'Healthpeak Properties' 'Henry Schein'
 'The Hershey Company' 'Hess Corporation' 'Hewlett Packard Enterprise'
 'Hilton Worldwide Holdings Inc' 'HollyFrontier Corp' 'Hologic'
 'Home Depot' "Honeywell Int'l Inc." 'Hormel Foods Corp.'
 'Host Hotels & Resorts' 'Howmet Aerospace' 'HP Inc.' 'Humana Inc.'
 'Huntington Bancshares' 'Huntington Ingalls Industries'
 'IDEX Corporation' 'Idexx Laboratories' 'IHS Markit'
 'Illinois Tool Works' 'Illumina Inc' 'Incyte' 'Ingersoll Rand'
 'Intel Corp.' 'Intercontinental Exchange'
 'International Business Machines' 'International Paper'
 'Interpublic Group' 'International Flavors & Fragrances' 'Intuit Inc.'
 'Intuitive Surgical Inc.' 'Invesco Ltd.' 'IPG Photonics Corp.'
 'IQVIA Holdings Inc.' 'Iron Mountain Incorporated'
 'Jack Henry & Associates' 'Jacobs Engineering Group'
 'J. B. Hunt Transport Services' 'JM Smucker' 'Johnson & Johnson'
 'Johnson Controls International' 'JPMorgan Chase & Co.'
 'Juniper Networks' 'Kansas City Southern' 'Kellogg Co.' 'KeyCorp'
 'Keysight Technologies' 'Kimberly-Clark' 'Kimco Realty' 'Kinder Morgan'
 'KLA Corporation' 'Kraft Heinz Co' 'Kroger Co.' 'L Brands Inc.'
 'L3Harris Technologies' 'Laboratory Corp. of America Holding'
 'Lam Research' 'Lamb Weston Holdings Inc' 'Las Vegas Sands'
 'Leggett & Platt' 'Leidos Holdings' 'Lennar Corp.' 'Lilly (Eli) & Co.'
 'Lincoln National' 'Linde plc' 'Live Nation Entertainment'
 'LKQ Corporation' 'Lockheed Martin Corp.' 'Loews Corp.' "Lowe's Cos."
 'Lumen Technologies' 'LyondellBasell' 'M&T Bank' 'Marathon Oil Corp.'
 'Marathon Petroleum' 'MarketAxess' 'Marriott International'
 'Marsh & McLennan' 'Martin Marietta Materials' 'Masco Corp.'
 'Mastercard Inc.' 'McCormick & Co.' 'Maxim Integrated Products'
 "McDonald's Corp." 'McKesson Corp.' 'Medtronic plc' 'Merck & Co.'
 'MetLife Inc.' 'Mettler Toledo' 'MGM Resorts International'
 'Microchip Technology' 'Micron Technology' 'Microsoft Corp.'
 'Mid-America Apartments' 'Mohawk Industries'
 'Molson Coors Beverage Company' 'Mondelez International'
 'Monolithic Power Systems' 'Monster Beverage' "Moody's Corp"
 'Morgan Stanley' 'The Mosaic Company' 'Motorola Solutions Inc.'
 'MSCI Inc' 'Nasdaq, Inc.' 'NetApp' 'Netflix Inc.' 'Newell Brands'
 'Newmont Corporation' 'News Corp (Class A)' 'News Corp (Class B)'
 'NextEra Energy' 'Nielsen Holdings' 'Nike, Inc.' 'NiSource Inc.'
 'Norfolk Southern Corp.' 'Northern Trust Corp.' 'Northrop Grumman'
 'NortonLifeLock' 'Norwegian Cruise Line Holdings' 'NOV Inc.' 'NRG Energy'
 'Nucor Corp.' 'Nvidia Corporation' 'NVR, Inc.' "O'Reilly Automotive"
 'Occidental Petroleum' 'Old Dominion Freight Line' 'Omnicom Group'
 'Oneok' 'Oracle Corp.' 'Otis Worldwide' 'Paccar'
 'Packaging Corporation of America' 'Parker-Hannifin' 'Paychex Inc.'
 'Paycom' 'PayPal' 'Pentair plc' "People's United Financial"
 'PepsiCo Inc.' 'PerkinElmer' 'Perrigo' 'Pfizer Inc.'
 'Philip Morris International' 'Phillips 66' 'Pinnacle West Capital'
 'Pioneer Natural Resources' 'PNC Financial Services' 'Pool Corporation'
 'PPG Industries' 'PPL Corp.' 'Principal Financial Group'
 'Procter & Gamble' 'Progressive Corp.' 'Prologis' 'Prudential Financial'
 'Public Service Enterprise Group (PSEG)' 'Public Storage' 'PulteGroup'
 'PVH Corp.' 'Qorvo' 'Quanta Services Inc.' 'Qualcomm' 'Quest Diagnostics'
 'Ralph Lauren Corporation' 'Raymond James Financial'
 'Raytheon Technologies' 'Realty Income Corporation'
 'Regency Centers Corporation' 'Regeneron Pharmaceuticals'
 'Regions Financial Corp.' 'Republic Services Inc' 'ResMed'
 'Robert Half International' 'Rockwell Automation Inc.' 'Rollins, Inc.'
 'Roper Technologies' 'Ross Stores' 'Royal Caribbean Group'
 'S&P Global Inc.' 'Salesforce.com' 'SBA Communications'
 'Schlumberger Ltd.' 'Seagate Technology' 'Sealed Air' 'Sempra Energy'
 'ServiceNow' 'Sherwin-Williams' 'Simon Property Group Inc'
 'Skyworks Solutions' 'SL Green Realty' 'Snap-on' 'Southern Company'
 'Southwest Airlines' 'Stanley Black & Decker' 'Starbucks Corp.'
 'State Street Corp.' 'Steris' 'Stryker Corp.' 'SVB Financial'
 'Synchrony Financial' 'Synopsys Inc.' 'Sysco Corp.' 'T-Mobile US'
 'T. Rowe Price Group' 'Take-Two Interactive' 'Tapestry, Inc.'
 'Target Corp.' 'TE Connectivity Ltd.' 'Teledyne Technologies' 'Teleflex'
 'Teradyne' 'Tesla, Inc.' 'Texas Instruments' 'Textron Inc.'
 'Thermo Fisher Scientific' 'TJX Companies Inc.' 'Tractor Supply Company'
 'Trane Technologies plc' 'TransDigm Group' 'The Travelers Companies'
 'Trimble Inc.' 'Truist Financial' 'Twitter, Inc.' 'Tyler Technologies'
 'Tyson Foods' 'UDR, Inc.' 'Ulta Beauty' 'U.S. Bancorp'
 'Under Armour (Class A)' 'Under Armour (Class C)' 'Union Pacific Corp'
 'United Airlines Holdings' 'UnitedHealth Group Inc.'
 'United Parcel Service' 'United Rentals, Inc.'
 'Universal Health Services' 'Unum Group' 'Valero Energy'
 'Varian Medical Systems' 'Ventas Inc' 'Verisign Inc.' 'Verisk Analytics'
 'Verizon Communications' 'Vertex Pharmaceuticals Inc' 'VF Corporation'
 'ViacomCBS' 'Viatris' 'Visa Inc.' 'Vontier' 'Vornado Realty Trust'
 'Vulcan Materials' 'W. R. Berkley Corporation'
 'Westinghouse Air Brake Technologies Corp' 'Walmart'
 'Walgreens Boots Alliance' 'The Walt Disney Company'
 'Waste Management Inc.' 'Waters Corporation' 'WEC Energy Group'
 'Wells Fargo' 'Welltower Inc.' 'West Pharmaceutical Services'
 'Western Digital' 'Western Union Co' 'WestRock' 'Weyerhaeuser'
 'Whirlpool Corp.' 'Williams Companies' 'Willis Towers Watson'
 'Wynn Resorts Ltd' 'Xcel Energy Inc' 'Xerox' 'Xilinx' 'Xylem Inc.'
 'Yum! Brands Inc' 'Zebra Technologies' 'Zimmer Biomet' 'Zions Bancorp'
 'Zoetis']
SEC filings
['reports']
GICS Sector
['Industrials' 'Health Care' 'Information Technology'
 'Communication Services' 'Consumer Discretionary' 'Utilities'
 'Financials' 'Materials' 'Real Estate' 'Consumer Staples' 'Energy']
GICS Sub-Industry
['Industrial Conglomerates' 'Health Care Equipment' 'Pharmaceuticals'
 'IT Consulting & Other Services' 'Interactive Home Entertainment'
 'Application Software' 'Semiconductors' 'Automotive Retail'
 'Independent Power Producers & Energy Traders' 'Life & Health Insurance'
 'Industrial Gases' 'Internet Services & Infrastructure' 'Airlines'
 'Specialty Chemicals' 'Office REITs' 'Health Care Supplies'
 'Building Products' 'Electric Utilities' 'Property & Casualty Insurance'
 'Interactive Media & Services' 'Tobacco'
 'Internet & Direct Marketing Retail' 'Paper Packaging' 'Multi-Utilities'
 'Consumer Finance' 'Specialized REITs' 'Water Utilities'
 'Asset Management & Custody Banks' 'Health Care Distributors'
 'Electrical Components & Equipment' 'Biotechnology'
 'Electronic Components' 'Managed Health Care' 'Insurance Brokers'
 'Oil & Gas Exploration & Production'
 'Technology Hardware, Storage & Peripherals' 'Semiconductor Equipment'
 'Auto Parts & Equipment' 'Agricultural Products'
 'Communications Equipment' 'Multi-line Insurance'
 'Integrated Telecommunication Services' 'Gas Utilities'
 'Data Processing & Outsourced Services' 'Specialty Stores'
 'Residential REITs' 'Oil & Gas Equipment & Services'
 'Metal & Glass Containers' 'Diversified Banks' 'Multi-Sector Holdings'
 'Computer & Electronics Retail' 'Life Sciences Tools & Services'
 'Aerospace & Defense' 'Distillers & Vintners' 'Air Freight & Logistics'
 'Packaged Foods & Meats' 'Hotels, Resorts & Cruise Lines'
 'Construction Machinery & Heavy Trucks' 'Financial Exchanges & Data'
 'Real Estate Services' 'Technology Distributors' 'Health Care Technology'
 'Fertilizers & Agricultural Chemicals' 'Investment Banking & Brokerage'
 'Cable & Satellite' 'Integrated Oil & Gas' 'Restaurants'
 'Household Products' 'Diversified Support Services' 'Regional Banks'
 'Soft Drinks' 'Hypermarkets & Super Centers' 'Railroads'
 'Industrial Machinery' 'Health Care Services' 'Homebuilding'
 'Health Care Facilities' 'Agricultural & Farm Machinery' 'Broadcasting'
 'General Merchandise Stores' 'Commodity Chemicals' 'Industrial REITs'
 'Diversified Chemicals' 'Research & Consulting Services'
 'Personal Products' 'Reinsurance' 'Retail REITs'
 'Electronic Equipment & Instruments' 'Automobile Manufacturers'
 'Systems Software' 'Movies & Entertainment' 'Copper' 'Apparel Retail'
 'Consumer Electronics' 'Apparel, Accessories & Luxury Goods'
 'Leisure Products' 'Health Care REITs' 'Oil & Gas Refining & Marketing'
 'Home Improvement Retail' 'Hotel & Resort REITs' 'Advertising'
 'Electronic Manufacturing Services' 'Construction & Engineering'
 'Trucking' 'Oil & Gas Storage & Transportation' 'Food Retail'
 'Casinos & Gaming' 'Home Furnishings' 'Distributors'
 'Alternative Carriers' 'Construction Materials' 'Brewers'
 'Housewares & Specialties' 'Gold' 'Publishing' 'Steel'
 'Thrifts & Mortgage Finance' 'Environmental & Facilities Services'
 'Human Resource & Employment Services' 'Food Distributors'
 'Wireless Telecommunication Services' 'Trading Companies & Distributors'
 'Drug Retail' 'Household Appliances']
Headquarters Location
['St. Paul, Minnesota' 'North Chicago, Illinois' 'Danvers, Massachusetts'
 'Dublin, Ireland' 'Santa Monica, California' 'San Jose, California'
 'Santa Clara, California' 'Raleigh, North Carolina' 'Arlington, Virginia'
 'Columbus, Georgia' 'Allentown, Pennsylvania' 'Cambridge, Massachusetts'
 'Seattle, Washington' 'Charlotte, North Carolina' 'Pasadena, California'
 'Boston, Massachusetts' 'Madison, Wisconsin'
 'Northfield Township, Illinois' 'Mountain View, California'
 'Richmond, Virginia' 'Zurich, Switzerland' 'St. Louis, Missouri'
 'Fort Worth, Texas' 'Columbus, Ohio' 'New York, New York'
 'Camden, New Jersey' 'Minneapolis, Minnesota'
 'Chesterbrook, Pennsylvania' 'Berwyn, Pennsylvania'
 'Thousand Oaks, California' 'Wallingford, Connecticut'
 'Norwood, Massachusetts' 'Canonsburg, Pennsylvania'
 'Indianapolis, Indiana' 'London, United Kingdom' 'Milwaukee, Wisconsin'
 'Houston, Texas' 'Cupertino, California' 'Chicago, Illinois'
 'Rolling Meadows, Illinois' 'Dallas, Texas' 'San Rafael, California'
 'Roseland, New Jersey' 'Memphis, Tennessee' 'Arlington, Virginia[3]'
 'Glendale, California' 'Broomfield, Colorado' 'Deerfield, Illinois'
 'Franklin Lakes, New Jersey' 'Omaha, Nebraska' 'Richfield, Minnesota'
 'Hercules, California' 'Norwalk, Connecticut' 'Auburn Hills, Michigan'
 'Marlborough, Massachusetts[4]' 'Lake Success, New York'
 'Louisville, Kentucky' 'Eden Prairie, Minnesota'
 'Tysons Corner, Virginia' 'Dublin, Ohio' 'Miami, Florida'
 'Palm Beach Gardens, Florida' 'Somerset, New Jersey'
 'Lincolnshire, Illinois' 'Irving, Texas' 'North Kansas City, Missouri'
 'Westlake, Texas' 'Stamford, Connecticut' 'San Ramon, California'
 'Newport Beach, California' 'Ewing, New Jersey' 'Bloomfield, Connecticut'
 'Fairfield, Ohio' 'Mason, Ohio' 'Providence, Rhode Island'
 'Fort Lauderdale, Florida' 'Oakland, California' 'Jackson, Michigan'
 'Atlanta, Georgia' 'Teaneck, New Jersey' 'Philadelphia, Pennsylvania'
 'Victor, New York' 'Corning, New York' 'Wilmington, Delaware'
 'Issaquah, Washington' 'Jacksonville, Florida' 'Columbus, Indiana'
 'Woonsocket, Rhode Island' 'Washington, D.C.' 'Orlando, Florida'
 'Denver, Colorado' 'Moline, Illinois' 'Oklahoma City, Oklahoma'
 'San Diego, California' 'Midland, Texas' 'Austin, Texas'
 'Riverwoods, Illinois' 'Meridian, Colorado' 'Goodlettsville, Tennessee'
 'Chesapeake, Virginia' 'Ann Arbor, Michigan' 'Downers Grove, Illinois'
 'Midland, Michigan' 'Detroit, Michigan' 'Kingsport, Tennessee'
 'Rosemead, California' 'Irvine, California' 'Redwood City, California'
 'Ferguson, Missouri' 'Fremont, California' 'New Orleans, Louisiana'
 'San Mateo, California' 'Brooklyn, New York' 'Kansas City, Missouri'
 'Hartford, Connecticut' 'Hamilton, Bermuda' 'Salt Lake City, Utah'
 'Menlo Park, California' 'Winona, Minnesota' 'Rockville, Maryland'
 'Cincinnati, Ohio' 'Akron, Ohio' 'San Francisco, California'
 'Brookfield, Wisconsin' 'Norcross, Georgia' 'Wilsonville, Oregon'
 'Dearborn, Michigan' 'Sunnyvale, California' 'Everett, Washington'
 'Phoenix, Arizona' 'Schaffhausen, Switzerland' 'Falls Church, Virginia'
 'Golden Valley, Minnesota' 'Foster City, California' 'McKinney, Texas'
 'Lake Forest, Illinois' 'Winston-Salem, North Carolina'
 'Pawtucket, Rhode Island' 'Nashville, Tennessee' 'Long Beach, California'
 'Melville, New York' 'Hershey, Pennsylvania' 'Marlborough, Massachusetts'
 'Morristown, New Jersey' 'Austin, Minnesota' 'Bethesda, Maryland'
 'Pittsburgh, Pennsylvania' 'Palo Alto, California'
 'Newport News, Virginia' 'Westbrook, Maine' 'Glenview, Illinois'
 'Armonk, New York' 'Oxford, Massachusetts' 'Durham, North Carolina'

In [44]:
comp_df['GICS Sector'].unique()  #To find all the unique components in a column

array(['Industrials', 'Health Care', 'Information Technology',
       'Communication Services', 'Consumer Discretionary', 'Utilities',
       'Financials', 'Materials', 'Real Estate', 'Consumer Staples',
       'Energy'], dtype=object)

In [45]:
comp_df['GICS Sector'].value_counts()  #Checking no of counts in each unique column

Information Technology    76
Industrials               73
Financials                65
Health Care               63
Consumer Discretionary    61
Consumer Staples          32
Real Estate               30
Utilities                 28
Materials                 28
Communication Services    26
Energy                    23
Name: GICS Sector, dtype: int64

In [46]:
comp_energy = comp_df[comp_df['GICS Sector']=='Energy']  #Pulling out all the data from energy sector
comp_energy.shape

(23, 7)

In [47]:
comp_energy.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,CIK
44,APA,Apache Corporation,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",6769
59,BKR,Baker Hughes Co,reports,Energy,Oil & Gas Equipment & Services,"Houston, Texas",1701605
80,COG,Cabot Oil & Gas,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",858470
100,CVX,Chevron Corp.,reports,Energy,Integrated Oil & Gas,"San Ramon, California",93410
120,COP,ConocoPhillips,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1163165

In [48]:
comp_energy['Symbol'].unique()

array(['APA', 'BKR', 'COG', 'CVX', 'COP', 'DVN', 'FANG', 'EOG', 'XOM',
       'HAL', 'HES', 'HFC', 'KMI', 'MRO', 'MPC', 'NOV', 'OXY', 'OKE',
       'PSX', 'PXD', 'SLB', 'VLO', 'WMB'], dtype=object)

In [49]:
comp_energy

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,CIK
44,APA,Apache Corporation,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",6769
59,BKR,Baker Hughes Co,reports,Energy,Oil & Gas Equipment & Services,"Houston, Texas",1701605
80,COG,Cabot Oil & Gas,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",858470
100,CVX,Chevron Corp.,reports,Energy,Integrated Oil & Gas,"San Ramon, California",93410
120,COP,ConocoPhillips,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1163165
139,DVN,Devon Energy,reports,Energy,Oil & Gas Exploration & Production,"Oklahoma City, Oklahoma",1090012
141,FANG,Diamondback Energy,reports,Energy,Oil & Gas Exploration & Production,"Midland, Texas",1539838
168,EOG,EOG Resources,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",821189
182,XOM,Exxon Mobil Corp.,reports,Energy,Integrated Oil & Gas,"Irving, Texas",34088
218,HAL,Halliburton Co.,reports,Energy,Oil & Gas Equipment & Services,"Houston, Texas",45012
226,HES,Hess Corporation,reports,Energy,Integrated Oil & Gas,"New York, New York",4447
229,HFC,HollyFrontier Corp,reports,Energy,Oil & Gas Refining & Marketing,"Dallas, Texas",48039
273,KMI,Kinder Morgan,reports,Energy,Oil & Gas Storage & Transportation,"Houston, Texas",1506307
297,MRO,Marathon Oil Corp.,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",101778
298,MPC,Marathon Petroleum,reports,Energy,Oil & Gas Refining & Marketing,"Findlay, Ohio",1510295
344,NOV,NOV Inc.,reports,Energy,Oil & Gas Equipment & Services,"Houston, Texas",1021860
350,OXY,Occidental Petroleum,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",797468
353,OKE,Oneok,reports,Energy,Oil & Gas Storage & Transportation,"Tulsa, Oklahoma",1039684
369,PSX,Phillips 66,reports,Energy,Oil & Gas Refining & Marketing,"Houston, Texas",1534701
371,PXD,Pioneer Natural Resources,reports,Energy,Oil & Gas Exploration & Production,"Irving, Texas",1038357
407,SLB,Schlumberger Ltd.,reports,Energy,Oil & Gas Equipment & Services,"Curaçao, Kingdom of the Netherlands",87347
463,VLO,Valero Energy,reports,Energy,Oil & Gas Refining & Marketing,"San Antonio, Texas",1035002
493,WMB,Williams Companies,reports,Energy,Oil & Gas Storage & Transportation,"Tulsa, Oklahoma",107263

In [50]:
strt_date = datetime.datetime(2020,10,15)     #datetime(year,month,day)#datetime function format
print(strt_date)
end_date = datetime.datetime.today()

2020-10-15 00:00:00

In [56]:
stk_price=pd.DataFrame()

In [57]:
comp_energy['Symbol'].unique()

array(['APA', 'BKR', 'COG', 'CVX', 'COP', 'DVN', 'FANG', 'EOG', 'XOM',
       'HAL', 'HES', 'HFC', 'KMI', 'MRO', 'MPC', 'NOV', 'OXY', 'OKE',
       'PSX', 'PXD', 'SLB', 'VLO', 'WMB'], dtype=object)

In [61]:
yf.download('APA',start=strt_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-10-15   9.100000   9.780000   8.960000   9.760000   9.720680  16482600
2020-10-16   9.640000   9.810000   9.340000   9.370000   9.332251  10037800
2020-10-19   9.450000   9.580000   9.020000   9.060000   9.023499  10772200
2020-10-20   9.220000   9.860000   9.180000   9.610000   9.571283  13204900
2020-10-21   9.410000   9.500000   9.080000   9.100000   9.086978  11784100
...               ...        ...        ...        ...        ...       ...
2021-02-22  18.350000  19.600000  18.209999  19.080000  19.080000   9785900
2021-02-23  19.260000  19.850000  17.629999  19.750000  19.750000  10427200
2021-02-24  19.760000  20.950001  19.450001  20.809999  20.809999  10934800
2021-02-25  21.500000  21.889999  20.000000  20.129999  20.129999  11276100
2021-02-26  19.856501  20.110001  19.375000  19.375000  19.375000   1013970

[92 rows x 6 columns]

In [62]:

for i in comp_energy['Symbol'].unique():
    df = yf.download(i, start=strt_date, end=end_date)
        
    df['Symbol'] = i
    
    stk_price = stk_price.append(df)
    print(df.head())

[*********************100%***********************]  1 of 1 completed
            Open  High   Low  Close  Adj Close    Volume Symbol
Date
2020-10-15  9.10  9.78  8.96   9.76   9.720680  16482600    APA
2020-10-16  9.64  9.81  9.34   9.37   9.332251  10037800    APA
2020-10-19  9.45  9.58  9.02   9.06   9.023499  10772200    APA
2020-10-20  9.22  9.86  9.18   9.61   9.571283  13204900    APA
2020-10-21  9.41  9.50  9.08   9.10   9.086978  11784100    APA
[*********************100%***********************]  1 of 1 completed
             Open   High    Low  Close  Adj Close    Volume Symbol
Date
2020-10-15  12.89  13.55  12.83  13.45  13.187698   7062800    BKR
2020-10-16  13.33  13.46  13.12  13.14  12.883744   7910100    BKR
2020-10-19  13.38  13.63  13.08  13.11  12.854329   7471900    BKR
2020-10-20  13.34  13.71  13.28  13.63  13.364187   9800400    BKR
2020-10-21  13.40  14.34  13.28  14.04  13.766192  10954300    BKR
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume  \
Date
2020-10-15  19.270000  19.580000  19.030001  19.469999  19.249069  3409300
2020-10-16  19.389999  19.590000  19.080000  19.100000  18.883268  2906000
2020-10-19  19.219999  19.389999  18.860001  19.080000  18.863495  3327700
2020-10-20  19.150000  19.510000  19.080000  19.270000  19.051340  2938200
2020-10-21  19.299999  19.799999  19.040001  19.180000  18.962362  5539100

           Symbol
Date
2020-10-15    COG
2020-10-16    COG
2020-10-19    COG
2020-10-20    COG
2020-10-21    COG
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close    Volume  \
Date
2020-10-15  71.820000  73.720001  71.389999  73.510002  71.434280  10052100
2020-10-16  73.519997  74.029999  72.269997  72.889999  70.831795   9305600
2020-10-19  73.110001  73.339996  71.190002  71.279999  69.267250   8357100
2020-10-20  71.910004  72.290001  71.040001  71.680000  69.655952   7753200
2020-10-21  71.129997  71.580002  70.730003  70.870003  68.868828   9800600

           Symbol
Date
2020-10-15    CVX
2020-10-16    CVX
2020-10-19    CVX
2020-10-20    CVX
2020-10-21    CVX
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close    Volume  \
Date
2020-10-15  33.869999  35.470001  33.669998  35.400002  34.651756   8633700
2020-10-16  34.810001  34.970001  33.750000  33.770000  33.462673   8312900
2020-10-19  34.119999  34.200001  32.680000  32.700001  32.402412  21684100
2020-10-20  32.910000  33.049999  32.070000  32.580002  32.283504  19243000
2020-10-21  32.169998  32.410000  30.580000  30.639999  30.361158  19210200

           Symbol
Date
2020-10-15    COP
2020-10-16    COP
2020-10-19    COP
2020-10-20    COP
2020-10-21    COP
[*********************100%***********************]  1 of 1 completed
            Open  High   Low  Close  Adj Close    Volume Symbol
Date
2020-10-15  9.12  9.44  8.93   9.42   9.354042  10028800    DVN
2020-10-16  9.38  9.47  8.94   8.95   8.887333   9136600    DVN
2020-10-19  9.05  9.09  8.77   8.86   8.797962   8942500    DVN
2020-10-20  8.92  9.12  8.73   8.97   8.907193  10046500    DVN
2020-10-21  8.88  9.00  8.62   8.63   8.569573  13997300    DVN
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume  \
Date
2020-10-15  29.910000  30.629999  29.209999  30.629999  30.275484  2778900
2020-10-16  30.520000  30.590000  29.200001  29.290001  28.950996  2778000
2020-10-19  29.680000  29.690001  28.010000  28.040001  27.715464  4017700
2020-10-20  28.389999  29.080000  27.580000  28.450001  28.120718  2940000
2020-10-21  28.209999  28.440001  27.510000  27.709999  27.389280  3020000

           Symbol
Date
2020-10-15   FANG
2020-10-16   FANG
2020-10-19   FANG
2020-10-20   FANG
2020-10-21   FANG
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close    Volume  \
Date
2020-10-15  36.549999  38.240002  36.160000  38.080002  37.843849   4791600
2020-10-16  37.880001  39.849998  36.650002  37.419998  37.187939  10261100
2020-10-19  37.529999  37.590000  36.160000  36.189999  35.965569   8378000
2020-10-20  36.480000  36.599998  35.250000  36.279999  36.055012   6117800
2020-10-21  36.290001  36.349998  35.040001  35.119999  34.902203   6314500

           Symbol
Date
2020-10-15    EOG
2020-10-16    EOG
2020-10-19    EOG
2020-10-20    EOG
2020-10-21    EOG
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close    Volume  \
Date
2020-10-15  33.700001  34.459999  33.270000  34.450001  33.076710  23251600
2020-10-16  34.369999  34.639999  33.880001  34.099998  32.740658  22627200
2020-10-19  34.099998  34.369999  33.389999  33.419998  32.087769  23645800
2020-10-20  33.660000  33.930000  33.330002  33.700001  32.356606  23040600
2020-10-21  33.509998  33.619999  33.139999  33.160000  31.838133  28619300

           Symbol
Date
2020-10-15    XOM
2020-10-16    XOM
2020-10-19    XOM
2020-10-20    XOM
2020-10-21    XOM
[*********************100%***********************]  1 of 1 completed
             Open   High    Low  Close  Adj Close    Volume Symbol
Date
2020-10-15  12.40  13.09  12.27  13.07  13.035564  12268200    HAL
2020-10-16  12.98  13.07  12.21  12.25  12.217726  18401100    HAL
2020-10-19  12.23  12.73  11.85  12.17  12.137937  20524100    HAL
2020-10-20  12.44  13.14  12.39  12.74  12.706434  18730800    HAL
2020-10-21  12.61  12.90  12.50  12.67  12.636620  11946900    HAL
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume  \
Date
2020-10-15  37.790001  39.380001  37.520000  39.320000  39.146416  1469900
2020-10-16  39.150002  39.680000  38.000000  38.060001  37.891979  1639800
2020-10-19  38.480000  38.639999  36.500000  36.599998  36.438423  2146100
2020-10-20  36.900002  38.160000  36.750000  37.849998  37.682903  2129900
2020-10-21  37.330002  38.049999  36.919998  37.189999  37.025818  1831300

           Symbol
Date
2020-10-15    HES
2020-10-16    HES
2020-10-19    HES
2020-10-20    HES
2020-10-21    HES
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume  \
Date
2020-10-15  20.020000  21.240000  19.770000  21.190001  20.865854  3190000
2020-10-16  21.110001  21.110001  20.139999  20.160000  19.851608  2009200
2020-10-19  20.110001  20.270000  19.450001  19.469999  19.172163  1863100
2020-10-20  19.700001  20.010000  19.480000  19.600000  19.300177  1941300
2020-10-21  19.420000  19.750000  18.959999  19.150000  18.857059  2604400

           Symbol
Date
2020-10-15    HFC
2020-10-16    HFC
2020-10-19    HFC
2020-10-20    HFC
2020-10-21    HFC

[*********************100%***********************]  1 of 1 completed
             Open   High    Low  Close  Adj Close    Volume Symbol
Date
2020-10-15  12.81  13.01  12.68  12.99  12.479226  13602600    KMI
2020-10-16  12.99  13.07  12.84  12.86  12.354338  13081600    KMI
2020-10-19  12.90  13.00  12.69  12.71  12.210237  13447800    KMI
2020-10-20  12.80  12.86  12.58  12.68  12.181416  16344000    KMI
2020-10-21  12.60  12.67  12.48  12.53  12.037313  14619900    KMI
[*********************100%***********************]  1 of 1 completed
            Open  High   Low  Close  Adj Close    Volume Symbol
Date
2020-10-15  4.15  4.27  4.06   4.27   4.232421  21728200    MRO
2020-10-16  4.23  4.23  4.07   4.07   4.034182  25005800    MRO
2020-10-19  4.10  4.14  3.98   3.98   3.944973  28806300    MRO
2020-10-20  4.01  4.19  4.00   4.15   4.113478  27770600    MRO
2020-10-21  4.11  4.22  4.06   4.10   4.063918  27318500    MRO
[*********************100%***********************]  1 of 1 completed
                 Open   High        Low      Close  Adj Close   Volume Symbol
Date
2020-10-15  29.100000  30.57  28.590000  30.540001  29.759069  5150200    MPC
2020-10-16  30.340000  30.52  29.320000  29.370001  28.618988  5024100    MPC
2020-10-19  29.389999  29.51  28.170000  28.250000  27.527628  8570100    MPC
2020-10-20  28.600000  29.50  28.500000  29.240000  28.492311  6047600    MPC
2020-10-21  28.740000  29.49  28.290001  28.820000  28.083052  5732500    MPC
[*********************100%***********************]  1 of 1 completed
            Open  High   Low  Close  Adj Close   Volume Symbol
Date
2020-10-15  8.59  8.98  8.52   8.97       8.97  7201100    NOV
2020-10-16  8.90  9.03  8.56   8.60       8.60  5644800    NOV
2020-10-19  8.72  9.05  8.62   8.70       8.70  4918300    NOV
2020-10-20  8.89  9.26  8.84   9.14       9.14  4933800    NOV
2020-10-21  9.03  9.32  8.98   9.01       9.01  4754100    NOV
[*********************100%***********************]  1 of 1 completed
             Open   High    Low  Close  Adj Close    Volume Symbol
Date
2020-10-15  10.23  10.61  10.00  10.61  10.604453  18906900    OXY
2020-10-16  10.51  10.53  10.07  10.09  10.084725  19244700    OXY
2020-10-19  10.19  10.21   9.81   9.82   9.814866  22074700    OXY
2020-10-20   9.92  10.20   9.83  10.07  10.064735  17400100    OXY
2020-10-21   9.86   9.96   9.66   9.66   9.654950  22783400    OXY
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume  \
Date
2020-10-15  28.559999  29.840000  28.490000  29.820000  28.261087  5486300
2020-10-16  29.830000  29.930000  28.889999  28.900000  27.389183  3849900
2020-10-19  29.049999  29.490000  28.240000  28.290001  26.811073  3966700
2020-10-20  28.799999  29.379999  28.480000  28.920000  27.408138  3753600
2020-10-21  28.629999  28.860001  28.370001  28.430000  26.943754  3035200

           Symbol
Date
2020-10-15    OKE
2020-10-16    OKE
2020-10-19    OKE
2020-10-20    OKE
2020-10-21    OKE
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume  \
Date
2020-10-15  51.049999  52.740002  50.419998  52.509998  51.124397  3502000
2020-10-16  52.459999  52.500000  50.470001  50.580002  49.245331  2938700
2020-10-19  50.910000  50.930000  48.880001  48.950001  47.658344  3683200
2020-10-20  49.369999  50.090000  49.080002  49.590000  48.281452  3471300
2020-10-21  48.880001  49.820000  48.660000  48.720001  47.434410  3798400

           Symbol
Date
2020-10-15    PSX
2020-10-16    PSX
2020-10-19    PSX
2020-10-20    PSX
2020-10-21    PSX
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume  \
Date
2020-10-15  88.260002  92.370003  87.320000  92.220001  91.761566   854900
2020-10-16  91.989998  92.300003  90.220001  90.260002  89.811310  1013000
2020-10-19  90.760002  91.139999  86.980003  87.050003  86.617271  2034400
2020-10-20  82.750000  84.820000  81.389999  83.529999  83.114761  4188100
2020-10-21  82.500000  83.400002  78.120003  78.440002  78.050072  4633400

           Symbol
Date
2020-10-15    PXD
2020-10-16    PXD
2020-10-19    PXD
2020-10-20    PXD
2020-10-21    PXD
[*********************100%***********************]  1 of 1 completed
             Open       High    Low  Close  Adj Close    Volume Symbol
Date
2020-10-15  15.75  16.440001  15.55  16.42  16.245064  15709600    SLB
2020-10-16  15.62  16.260000  14.90  14.97  14.810513  39866400    SLB
2020-10-19  15.16  15.440000  14.91  15.01  14.850086  18285500    SLB
2020-10-20  15.24  15.650000  15.18  15.49  15.324971  20802200    SLB
2020-10-21  15.36  15.590000  14.98  15.01  14.850086  18537500    SLB
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume  \
Date
2020-10-15  40.900002  41.720001  39.779999  41.560001  40.208916  5678300
2020-10-16  41.570000  41.650002  40.160000  40.220001  38.912479  5518900
2020-10-19  40.419998  40.459999  39.150002  39.290001  38.012714  5086800
2020-10-20  39.750000  41.130001  39.689999  40.700001  39.376877  4120600
2020-10-21  40.270000  41.540001  39.750000  40.540001  39.222076  5592100

           Symbol
Date
2020-10-15    VLO
2020-10-16    VLO
2020-10-19    VLO
2020-10-20    VLO
2020-10-21    VLO
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close    Volume  \
Date
2020-10-15  19.250000  19.770000  19.010000  19.709999  19.358034  10619700
2020-10-16  19.760000  19.980000  19.260000  19.270000  18.925894   8206300
2020-10-19  19.430000  19.670000  19.129999  19.290001  18.945538   8062100
2020-10-20  19.459999  19.870001  19.430000  19.690001  19.338394   7906000
2020-10-21  19.639999  19.799999  19.299999  19.299999  18.955357   8004700

           Symbol
Date
2020-10-15    WMB
2020-10-16    WMB
2020-10-19    WMB
2020-10-20    WMB
2020-10-21    WMB

In [60]:
stk_price.head(20)

             Open   High   Low  Close  Adj Close    Volume Symbol
Date
2020-10-15   9.10   9.78  8.96   9.76   9.720680  16482600    APA
2020-10-16   9.64   9.81  9.34   9.37   9.332251  10037800    APA
2020-10-19   9.45   9.58  9.02   9.06   9.023499  10772200    APA
2020-10-20   9.22   9.86  9.18   9.61   9.571283  13204900    APA
2020-10-21   9.41   9.50  9.08   9.10   9.086978  11784100    APA
2020-10-22   9.10   9.48  9.02   9.44   9.426491  26479100    APA
2020-10-23   9.54   9.64  9.13   9.28   9.266720   8697000    APA
2020-10-26   9.07   9.11  8.35   8.56   8.547750  13881300    APA
2020-10-27   8.56   8.60  8.32   8.35   8.338051   8028300    APA
2020-10-28   7.96   8.15  7.70   7.79   7.778852  13792200    APA
2020-10-29   7.67   8.22  7.45   8.19   8.178279  12689700    APA
2020-10-30   8.21   8.30  7.96   8.30   8.288122  11474600    APA
2020-11-02   8.41   8.96  7.98   8.89   8.877278  12978600    APA
2020-11-03   9.10   9.21  8.63   8.73   8.717506  10428700    APA
2020-11-04   8.75   9.30  8.43   8.99   8.977135  19236900    APA
2020-11-05   9.19   9.59  8.95   8.97   8.957164  15996500    APA
2020-11-06   8.87   9.09  8.50   8.54   8.527779  12204500    APA
2020-11-09   9.73  10.52  9.59   9.75   9.736048  26861600    APA
2020-11-10  10.03  10.20  9.57   9.99   9.975703  18289500    APA
2020-11-11  10.27  10.38  9.70   9.95   9.935760  12631400    APA

In [63]:
stk_price.shape

(4232, 7)

In [64]:
stk_price.reset_index(inplace=True)
stk_price.head()

        Date  Open  High   Low  Close  Adj Close    Volume Symbol
0 2020-10-15  9.10  9.78  8.96   9.76   9.720680  16482600    APA
1 2020-10-16  9.64  9.81  9.34   9.37   9.332251  10037800    APA
2 2020-10-19  9.45  9.58  9.02   9.06   9.023499  10772200    APA
3 2020-10-20  9.22  9.86  9.18   9.61   9.571283  13204900    APA
4 2020-10-21  9.41  9.50  9.08   9.10   9.086978  11784100    APA

In [65]:
stk_price.to_csv('test_prices.csv', index=False) #writing the csv file

In [66]:
df=pd.read_csv('test_prices.csv')   #reading the csv file in pandas

In [67]:
df.head()

         Date  Open  High   Low  Close  Adj Close    Volume Symbol
0  2020-10-15  9.10  9.78  8.96   9.76   9.720680  16482600    APA
1  2020-10-16  9.64  9.81  9.34   9.37   9.332251  10037800    APA
2  2020-10-19  9.45  9.58  9.02   9.06   9.023499  10772200    APA
3  2020-10-20  9.22  9.86  9.18   9.61   9.571283  13204900    APA
4  2020-10-21  9.41  9.50  9.08   9.10   9.086978  11784100    APA